*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
body{
	background: #EBEBEB;
	color: #333333;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
a{
	text-decoration: none;
}
.forget{
	height: 500px;
	width: 916px;
	margin: 0 auto;
	background: white;
	border-radius: 3px;
	margin-top: 70px;
	padding-left: 84px;
	margin-bottom: 20px;
}
.forget h2{
	font-size: 24px;
	line-height: 97px;
	font-weight: normal;
	color: #0055A1;
}
.forget div{
	height: 40px;
	margin-bottom: 27px;
	font-size: 0;
}
.forget div p{
	float: left;
	width: 97px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
}
.forget div input{
	width: 260px;
	height: 38px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	font-size: 20px;
	text-align: center;
	color: #333333;
	float: left;
}
.forget div .truefalse{
	width: 50px;
}
.forget div .true{
	width: 50px;
	background: url(../img/true.png) no-repeat 8px 10px;
}
.forget div .false{
	width: 50px;
	background: url(../img/false.png) no-repeat 8px 10px;
}
.forget div span{
	display: block;
	float: left;
	font-size: 15px;
	color: #666666;
	height: 40px;
	line-height: 40px;
}
.forget .tel input{
	width: 130px;
}
.forget .tel .button{
	width: 114px;
	height: 40px;
	margin-left: 14px;
	background: #EBEBEB;
	color: #333333;
	font-size: 15px;
	line-height: 40px;
}
.forget p{
	font-size: 15px;
	color: #666666;
}
.forget p input{
	width: 15px;
	height: 15px;
	margin-left: 97px;
	margin-right: 10px;
	vertical-align: middle;
}
.forget .sub{
	margin-left: 97px;
	height: 63px;
	background: #ef8750;
	color: white;
	font-size: 20px;
	border: none;
	margin-top: 20px;
}
footer{
	width: 1000px;
	margin: 0 auto;
	color: #999999;
	font-size: 16px;
}
footer span{
	float: right;
}