body{
    background: gray;
    color: #252525;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
.clear:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
#box{
    width: 595px;
    height: 808px;
    margin: 0 auto;
    background: white;
}
#header{
    height: 66px;
    background: #ffe100;
    overflow: hidden;
}
#header .login1{
    height: 66px;
    width: 242px;
    background: black;
    margin-left: -50px;
    transform: skewX(-57deg);
}
#header .login1 img{
    width: 46px;
    margin-left: 80px;
    margin-top: 10px;
    transform: skewX(57deg);
}
#header .login2{
    width: 145px;
    height: 18px;
    margin:24px 32px;
}
#header .login2 img{
    width: 100%;
    height: 100%;
}
#main{
    height: 680px;
    width: 531px;
    margin: 0 auto;
}
#footer{
    height: 60px;
    padding:0 30px;
}
#footer p{
    font-size: 12px;
    color: #252525;
    line-height: 50px;
}
#footer p span{
    margin-left: 17px;
}
