#main .playerlogo{
	height: 155px;
}
#main .playerlogo img{
	height: 98px;
	width: 98px;
	border: 1px solid #252525;
	margin-top: 30px;
	display: block;
	float: right;
}
#main .main .base{
	width: 255px;
}
#main .main h3{
	width: 100%;
	height: 23px;
	line-height: 14px;
	font-size: 14px;
	border-bottom: 3px solid #000000;
}
#main .main .base ul{
	width: 50%;
	height: 502px;
	background: #f4f2f0;
	font-size: 12px;
}
#main .main .base ul li{
	height: 12px;
	line-height: 12px;
	margin-top: 19px;
	padding-left: 24px;
}
#main .main .base ul.name{
	border-right: 1px solid #cccbca;
}

#main .main .right{
	width: 263px;
}
#main .main .right .position h3 span{
	font-size: 10px;
	color: #888888;
	float: right;
}
#main .main .right .position .map{
	height: 169px;
	margin-top: 4px;
	background: url(../img/page1/page1_qiuchang.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
#main .main .right .position .map span{
	display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: rgba(255,255,255,0.6);
	
}
#main .main .right .position .positionmain ul{
	float: left;
	width: 50%;
	height: 58px;
	padding-top: 3px;
	background: #f4f2f0;
}
#main .main .right .position .positionmain ul.name{
	border-right: 1px solid #CCCBCA;
}
#main .main .right .position .positionmain ul li{
	height: 18px;
	line-height: 18px;
	font-size: 12px;
}
#main .main .right .position .positionmain ul.name li{
	padding-right: 18px;
	text-align: right;
}
#main .main .right .position .positionmain ul.value li{
	padding-left: 18px;
}
#main .main .right .honer{
	margin-top: 17px;
}
#main .main .right .honer ul{
	height: 232px;
	padding-left: 28px;
	padding-top: 3px;
	background: #F4F2F0;
}
#main .main .right .honer ul li{
	height: 17px;
	font-size: 12px;
	line-height: 17px;
	margin-top: 17px;
}
#main .main .right .honer ul li div{
	float: left;
}
#main .main .right .honer ul li div img{
	display: block;
	float: left;
	height: 17px;
	margin-left: 19px;
}
