div.add{
    overflow: hidden;
    padding:10px 0;
}
div.show{
	margin-top:0;
}
div.add button{
    width:130px;
    float:right;
    height:40px;
    background:#0055a1;
    font:16px/40px '微软雅黑';
    color:#fff;
    outline: none;
    border:0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
ul.title li:first-child{
    width:84px;
}
ul.title li:last-child{
    width:calc(100% - 84px);
}
ul.title li:last-child input,ul.title li:last-child select{
    height:26px;
    float:left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width:90px;
    width:114px;
}
ul.title li:last-child input.date:first-child{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
ul.title li:last-child input.date:last-child{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
ul.title li:last-child select.state{
    width:118px;
    box-sizing: border-box;
    color:#ccc;
    font-size: 14px;
    font-family: '微软雅黑';
    text-align: center;
    outline:none;
    padding:0;
    border:1px solid #ccc;
    appearance:none;
    -moz-appearance:none;    /*for firefox*/
    -webkit-appearance:none;    /*for chrome*/
    padding-right: 26px;
    overflow: hidden;
    background: url(../../img/down.png) no-repeat right #fff;
}
ul.title li:last-child div{
    float:right;
    height:26px;
    padding-top:13px;
    margin-left:10px;
}
ul.title li:last-child span{
    float: left;
    width:15px;
    height:26px;
    background:#ccc;
}
ul.title li:last-child span u{
    float: left;
    margin-left:4px;
    margin-top:11px;
    width:7px;
    height:2px;
    background:#fff;
}
ul.title li i{
    float:left;
    width:26px;
    height:26px;
    background-image:url('../../img/search.png');
    background-color:#0055a1;
    background-repeat:no-repeat;
    border-top-right-radius: 3px;
    background-position: center;
    border-bottom-right-radius: 3px;
}
#main .table1 tbody td{
    height:53px;
    font-size:16px;
}
.table1 tbody td:first-child{
    color:#333;
}
.table1 tbody td a{
    display: inline-block;
    box-sizing: border-box;
    width:39px;
    height:22px;
    font-size: 14px;
    text-align: center;
    border-radius:3px;
    font-family: '微软雅黑';
    padding:4px 0;
    text-decoration: none;
}
.table1 tbody td a.able{
    border:1px solid #0055a1;
    color:#0055a1;
}
.table1 tbody td a.disable{
    border:1px solid  rgba(255, 0, 0, 0.52);
    color: rgba(255, 0, 0, 0.52);
}