div.module1,div.module2{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 999;
}
div.addRole,div.updateRole{
    width:210px;
    height:auto;
    border:1px solid #ddd;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    background: #fff;
}
div.addRole div:first-child,div.updateRole div:first-child{
    padding:12px 30px 0 30px;
    font-size:16px;
    color:#1a1a1a;
}
div.addRole p,div.updateRole p{
    text-align: center;
}
div.addRole input[type='text'],div.updateRole input[type='text']{
    border:0;
    border-bottom: 1px solid #b3b3b3;
    color:#4d4d4d;
    text-align: center;
    padding:6px 0;
    width: 100%;
    outline: none;
    font-size: 16px;
}
div.addRole ul,div.updateRole ul{
    padding:10px 0;
}
div.addRole li,div.updateRole li{
    height:40px;
    line-height: 40px;
}
div.addRole li span,div.updateRole li span{
    margin-left:5px;
}
div.addRole div.button,div.updateRole div.button{
    border-top:1px solid #e6e6e6;
}
div.addRole div.button button,div.updateRole div.button button{
    width:50%;
    font-size: 16px;
    height:40px;
    float: left;
}
/*删除确认框*/
div.confirmModule{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 999;
}
div.confirm{
    width:270px;
    height:160px;
    border:1px solid #ddd;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    background: #fff;
}
div.confirm p{
    height:110px;
    line-height: 110px;
    text-align: center;
    color:#292929;
}
div.confirm button{
    width:50%;
    border:0;
    border-top:1px solid #e6e6e6;
    line-height: 50px;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    background:transparent;
    outline:none;
    cursor: pointer;
}
div.confirm button.gray{
    color:#292929;
    border-right:1px solid #e6e6e6;
}
div.confirm button.red{
    color:#c62f17;
}