*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.header{
	width: 10.8rem;
	height: 1.28rem;
	background: #2b5197;
	line-height: 1.28rem;
	position: fixed;
	top: 0;
}
.header a img{
	height: 0.72rem;
	margin-left: 0.35rem;
	vertical-align: middle;
}
.header span{
	font-size: 0.48rem;
	color: white;
	margin-left: 0.8rem;
}
.personal{
	margin-top: 1.28rem;
	height: 4.45rem;
	width: 10.8rem;
	background: #e0e0e0;
}
.personal img{
	float: left;
	height: 3.52rem;
	width: 2.64rem;
	margin: 0.5rem 0.5rem 0 0.6rem;
}
.personal .personal_right{
	float: left;
	height: 4.45rem;
}
.personal_right h2{
	height: 0.72rem;
	font-size: 0.72rem;
	margin-top: 0.6rem;
	margin-bottom: 0.3rem;
}
.personal_main ul{
	float: left;
	margin-right: 0.28rem;
}
.personal_main ul li{
	height: 0.4rem;
	font-size: 0.4rem;
	color: #4d4d4d;
	margin-bottom: 0.24rem;
}
.times{
	width: 9.8rem;
	height: 1rem;
	margin: 0 auto;
	color: white;
	font-size: 0.48rem;
	text-align: center;
	border-radius: 0.15rem;
	line-height: 1rem;
	background:#ff9a4a url(../img/time.png) no-repeat 0.5rem 0.14rem;
	background-size: 0.72rem;
	margin-top: 0.36rem;
}
.jg_tit{
	width: 9.4rem;
	height: 0.9rem;
	margin: 0 auto;
	color: white;
	font-size: 0.48rem;
	border-radius: 0.15rem 0.15rem 0 0;
	line-height: 0.9rem;
	background: #32b16c;
	margin-top: 0.24rem;
	padding-left: 0.4rem;
	font-weight: normal;
	clear: both;
}
.jg_main{
	height: 4.4rem;
	width: 9.76rem;
	margin: 0 auto;
	border: 0.01rem solid #b3b3b3;
	border-top: none;
}
.jg_main ul{
	float: left;
}
.jg_lef{
	border-right: 0.01rem solid #b3b3b3;
}
.jg_main ul li{
	width: 4.46rem;
	height: 1.1rem;
	line-height: 1.1rem;
	font-size: 0.48rem;
	color: #282828;
	padding-left: 0.4rem;
}
.bac_gray{
	background: #ebebeb;
}